* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  border: 1px;
  border-color: red;
  border-style: solid;
  padding: 2px;
}

/* header styles */
#header-container {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
}

.header-logo {
  margin-left: 20%;
  width: 400px;
  height: 40px;
}

.header-links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 20%;
  height: 40px;
}

.link {
}

/* section one styles */
/* section two styles */
/* section three styles */
/* footer styles */
